In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\asimg\\Downloads\\CITY_OF_CHICAGO_SD_299_working.csv")

In [9]:
df.head()

,Domain,Year,English Learners (%),With IEPs (%),Low Income (%),Homeless (%),Parental Involvement (%),Attendance (%),Mobility (%),Chronic Truants (%),...,EL Long Term Students (%),Total Enrollment (N),Post Secondary Remediation Communication (%),Post Secondary Remediation Reading (%),Post Secondary Remediation Math (%),Graduates (N),Attending Illinois Community College (N),Attending Illinois Community College (%),Enrolled in Remedial Courses (N),Enrolled in Remedial Courses (%)
0,District,2019,19.4,14.1,77.9,3.5,-,93.2,10.1,32.7,...,"9,761",363954,37.4 (Graduating Class 2017),19.9 (Graduating Class 2017),39.2 (Graduating Class 2017),22540 (Graduating Class 2017),5088 (Graduating Class 2017),23.7 (Graduating Class 2017),2974 (Graduating Class 2017),58.5 (Graduating Class 2017)
1,District,2018,19.3,14.1,82.6,4.0,77.1,93.3,10.5,31.4,...,"8,988",372214,35.2 (Graduating Class 2016),24.2 (Graduating Class 2016),45.5 (Graduating Class 2016),22672 (Graduating Class 2016),5057 (Graduating Class 2016),23.3 (Graduating Class 2016),3106 (Graduating Class 2016),61.4 (Graduating Class 2016)
2,District,2017,17.7,11.0,83.1,4.1,76.9,93.2,10.8,34.3,...,-,382929,38.9 (Graduating Class 2015),28.9 (Graduating Class 2015),47.1 (Graduating Class 2015),17504 (Graduating Class 2015),4704 (Graduating Class 2015),26.9 (Graduating Class 2015),2999 (Graduating Class 2015),63.8 (Graduating Class 2015)
3,District,2016,17.8,14.4,83.9,4.3,79.7,93.8,19.2,31.7,...,-,392051,42.1 (Graduating Class 2014),39.1 (Graduating Class 2014),56.5 (Graduating Class 2014),21725 (Graduating Class 2014),5548 (Graduating Class 2014),25.5 (Graduating Class 2014),3899 (Graduating Class 2014),70.3 (Graduating Class 2014)
4,District,2015,17.8,14.0,86.9,4.6,81,93.5,17.0,27.3,...,-,397833,41.3 (Graduating Class 2013),41.1 (Graduating Class 2013),59.1 (Graduating Class 2013),19572 (Graduating Class 2013),3886 (Graduating Class 2013),19.9 (Graduating Class 2013),2785 (Graduating Class 2013),71.7 (Graduating Class 2013)

In [25]:
df_district = df[df["Domain"] == "District"]

In [26]:
yr = [2017, 2018]
df_district = df_district[df_district["Year"].isin(yr)]

In [28]:
# keep only the columns that we are interested in
# Domain, Year, "4 Yr Graduation Rate (%)"
keep_columns = ["Domain", "Year", "4 Yr Graduation Rate (%)", "Total Enrollment (N)"]
df_district = df_district[keep_columns]

In [29]:
df_district

     Domain  Year  4 Yr Graduation Rate (%)  Total Enrollment (N)
1  District  2018                      76.3                372214
2  District  2017                      82.3                382929

In [30]:
df_district.to_csv("c:\\Users\\asimg\Documents\ChicagoGradutionFiltered.csv")