In [1]:
import requests
import pandas as pd
from config import census_key
import json

In [125]:
# Creates dataframe of school districts, states, and census codes
name = ['New York City Department of Education',
        'Chicago Public School District',
        'Los Angeles Unified School District',
        'Houston Independent School District',
        'Cave Creek Unified District',
        'Deer Valley Unified District',
        'Glendale Union High School District',
        'Phoenix Union High School District',
        'Tempe Union High School District',
       'Tolleson Union High School District',
        'Paradise Valley Unified District',
        'Scottsdale Unified District',
       'Dallas Independent School District',
       'San Antonio Independent School District',
       'Philadelphia City School District',
        'San Diego City Unified School District',
        'San Jose Unified School District'
       ]
state = ['36','17','06',
         '48','04','04',
         '04','04','04',
         '04','04','04',
         '48','48','42',
         '06','06'
        ]
# The value for Cave Creek Unified District is incorrect due to unexpected error. Do not use values returned for Cave Creek
district = ['20580','09930','22710',
            '23640','07750','07750',
            '03450','06330','08340',
            '08520','05930','07570',
            '16230','38730','18990',
            '34320', '34590'
           ]

full_code = ['9700000US3620580','9700000US1709930','9700000US0622710',
             '9700000US4823640','9700000US0400001','9700000US0407750',
             '9600000US0403450','9600000US0406330', '9600000US0408340',
             '9600000US0408520','9700000US0405930', '9700000US0407570',
             '9700000US4816230','9700000US4838730','9700000US4218990',
             '9700000US0634320','9700000US0634590'
            ]
districts_df = pd.DataFrame(name)
districts_df['State'] = state
districts_df['District'] = district
districts_df['Full_Code'] = full_code
districts_df.columns = ['Name', 'State', 'District', 'Full_Code']
# Unified and secondary need slightly different API requests
districts_df['Unified_Secondary'] = ['U','U','U',
                                     'U','U','U',
                                     'S','S','S',
                                     'S','U','U',
                                    'U','U','U',
                                    'U','U']
districts_df17 = districts_df
districts_df18 = districts_df
districts_df18

,Name,State,District,Full_Code,Unified_Secondary
0,New York City Department of Education,36,20580,9700000US3620580,U
1,Chicago Public School District,17,09930,9700000US1709930,U
2,Los Angeles Unified School District,06,22710,9700000US0622710,U
3,Houston Independent School District,48,23640,9700000US4823640,U
4,Cave Creek Unified District,04,07750,9700000US0400001,U
5,Deer Valley Unified District,04,07750,9700000US0407750,U
6,Glendale Union High School District,04,07750,9600000US0403450,S
7,Phoenix Union High School District,04,06330,9600000US0406330,S
8,Tempe Union High School District,04,08340,9600000US0408340,S
9,Tolleson Union High School District,04,08520,9600000US0408520,S
10,Paradise Valley Unified District,04,05930,9700000US0405930,U
11,Scottsdale Unified District,04,07570,9700000US0407570,U
12,Dallas Independent School District,48,16230,9700000US4816230,U
13,San Antonio Independent School District,48,38730,9700000US4838730,U
14,Philadelphia City School District,42,18990,9700000US4218990,U
15,San Diego City Unified School District,06,34320,9700000US0634320,U
16,San Jose Unified School District,06,34590,9700000US0634590,U

In [104]:
# API call loop for table B14005 2018
# some setup before the loop
#set base url for 2018
base_url = 'https://api.census.gov/data/2018/acs/acs1?'
group = "B14005"
district = ""
state = ""
selectB14005_full = []
# loop through each district in districts_df
for index, row in districts_df18.iterrows():
    district = row['District']
    state = row['State']
    u_s = row['Unified_Secondary']
    # Check for unified
    if u_s == 'U':
        try:
            print(f"Trying {row['Name']} with {district} and {state}")
            response = requests.get(f"{base_url}get=group({group})&for=school%20district%20(unified):{district}&in=state:{state}&key={census_key}").json()
        except:
            print(f" request failed with : {base_url}get=group({group})&for=school%20district%20(unified):{district}&in=state:{state}&key={census_key}") 
    # Check for secondary
    elif u_s == 'S':
        try:
            print(f"Trying {row['Name']} with {district} and {state}")
            response = requests.get(f"{base_url}get=group({group})&for=school%20district%20(secondary):{district}&in=state:{state}&key={census_key}").json()
        except:
            print(f" request failed with : {base_url}get=group({group})&for=school%20district%20(secondary):{district}&in=state:{state}&key={census_key}")
    # Clean call response
    response_df = pd.DataFrame(response)
    response_df.columns = cps_df.iloc[0]
    # trim columns
    selectB14005 = pd.DataFrame(response_df.iloc[1][['GEO_ID','state','school district (unified)',
                    'B14005_001E','B14005_002E','B14005_003E','B14005_004E',
                     'B14005_005E','B14005_006E','B14005_016E','B14005_017E',
                    'B14005_018E','B14005_019E', 'B14005_020E']])
    select2B14005 = selectB14005.transpose()
    # add to districts_df18
    selectB14005_full.append(select2B14005.iloc[0])
    
selectB14005_full_df = pd.DataFrame(selectB14005_full)
districts_df18B14005 = districts_df18.merge(selectB14005_full_df, left_on = 'Full_Code', right_on = 'GEO_ID')
districts_df18B14005

Trying New York City Department of Education with 20580 and 36
Trying Chicago Public School District with 09930 and 17
Trying Los Angeles Unified School District with 22710 and 06
Trying Houston Independent School District with 23640 and 48
Trying Cave Creek Unified District with 00001 and 04
 request failed with : https://api.census.gov/data/2018/acs/acs1?get=group(B14005)&for=school%20district%20(unified):00001&in=state:04&key=9c5aa4a34753830c81ff60db8991b08b03d03dd5
Trying Deer Valley Unified District with 07750 and 04
Trying Glendale Union High School District with 03450 and 04
Trying Phoenix Union High School District with 06330 and 04
Trying Tempe Union High School District with 08340 and 04
Trying Tolleson Union High School District with 08520 and 04
Trying Paradise Valley Unified District with 05930 and 04
Trying Scottsdale Unified District with 07570 and 04
Trying Dallas Independent School District with 16230 and 48
Trying San Antonio Independent School District with 38730 and 48
Trying Philadelphia City School District with 18990 and 42
Trying San Diego City Unified School District with 34320 and 06
Trying San Jose Unified School District with 34590 and 06

,Name,State,District,Full_Code,Unified_Secondary,GEO_ID,state,school district (unified),B14005_001E,B14005_002E,B14005_003E,B14005_004E,B14005_005E,B14005_006E,B14005_016E,B14005_017E,B14005_018E,B14005_019E,B14005_020E
0,New York City Department of Education,36,20580,9700000US3620580,U,9700000US3620580,36,20580,357275,177894,156235,16652,5923,133660,179381,160744,24066,9942,126736
1,Chicago Public School District,17,09930,9700000US1709930,U,9700000US1709930,17,09930,122213,59551,50420,7315,3673,39432,62662,56451,11212,3021,42218
2,Los Angeles Unified School District,06,22710,9700000US0622710,U,9700000US0622710,06,22710,233195,118023,99451,15546,6122,77783,115172,103278,17060,5070,81148
3,Houston Independent School District,48,23640,9700000US4823640,U,9700000US4823640,48,23640,75320,39622,31518,3597,1858,26063,35698,30848,4953,1752,24143
4,Houston Independent School District,48,23640,9700000US4823640,U,9700000US4823640,48,23640,75320,39622,31518,3597,1858,26063,35698,30848,4953,1752,24143
5,Deer Valley Unified District,04,07750,9700000US0407750,U,9700000US0407750,04,07750,None,None,None,None,None,None,None,None,None,None,None
6,Glendale Union High School District,04,03450,9600000US0403450,S,9600000US0403450,04,03450,17310,7922,6218,1480,248,4490,9388,6415,1748,722,3945
7,Phoenix Union High School District,04,06330,9600000US0406330,S,9600000US0406330,04,06330,52802,24668,18832,4874,912,13046,28134,22927,5895,742,16290
8,Tempe Union High School District,04,08340,9600000US0408340,S,9600000US0408340,04,08340,None,None,None,None,None,None,None,None,None,None,None
9,Tolleson Union High School District,04,08520,9600000US0408520,S,9600000US0408520,04,08520,None,None,None,None,None,None,None,None,None,None,None
10,Paradise Valley Unified District,04,05930,9700000US0405930,U,9700000US0405930,04,05930,None,None,None,None,None,None,None,None,None,None,None
11,Scottsdale Unified District,04,07570,9700000US0407570,U,9700000US0407570,04,07570,None,None,None,None,None,None,None,None,None,None,None
12,Dallas Independent School District,48,16230,9700000US4816230,U,9700000US4816230,48,16230,55296,26698,20195,3959,894,15342,28598,23246,6706,618,15922
13,San Antonio Independent School District,48,38730,9700000US4838730,U,9700000US4838730,48,38730,None,None,None,None,None,None,None,None,None,None,None
14,Philadelphia City School District,42,18990,9700000US4218990,U,9700000US4218990,42,18990,79204,39415,32001,6354,2881,22766,39789,34776,8623,846,25307
15,San Diego City Unified School District,06,34320,9700000US0634320,U,9700000US0634320,06,34320,53044,27722,22111,4122,1196,16793,25322,24109,3987,1565,18557
16,San Jose Unified School District,06,34590,9700000US0634590,U,9700000US0634590,06,34590,None,None,None,None,None,None,None,None,None,None,None

In [126]:
# API call loop for table B23002A-B23002I 2018 which give employment by age group for ethnic groups
# some setup before the loop
#set base url for 2018
base_url = 'https://api.census.gov/data/2018/acs/acs1?'


group_list = ["B23002B", "B23002C", "B23002D", "B23002E",
              "B23002F", "B23002G", "B23002H", "B23002I"]
district = ""
state = ""
selectB23002_full = []
# loop through each district in districts_df
for index, row in districts_df18.iterrows():
    district = row['District']
    state = row['State']
    u_s = row['Unified_Secondary']
    # loop through each table in group list
    for i in group_list:
        # Check for unified school district
        if u_s == 'U':
            try:
                print(f"Trying {row['Name']} with {district} and {state}")
                response = requests.get(f"{base_url}get=group({i})&for=school%20district%20(unified):{district}&in=state:{state}&key={census_key}").json()
            except:
                print(f" request failed with : {base_url}get=group({i})&for=school%20district%20(unified):{district}&in=state:{state}&key={census_key}") 
        # Check for secondary district
        elif u_s == 'S':
            try:
                print(f"Trying {row['Name']} with {district} and {state}")
                response = requests.get(f"{base_url}get=group({i})&for=school%20district%20(secondary):{district}&in=state:{state}&key={census_key}").json()
            except:
                print(f" request failed with : {base_url}get=group({i})&for=school%20district%20(secondary):{district}&in=state:{state}&key={census_key}")
        # Clean call response
        response_df = pd.DataFrame(response)
        print(response_df)
        response_df.columns = response_df.iloc[0]
        # trim columns
        # set up column names based on current table from group list
        selectcolumns = ['GEO_ID','state','school district (unified)',
                        i+'_003E',i+'_004E',
                     i+'_005E',i+'_006E',i+'_007E',i+'_008E',
                    i+'_009E',i+'_042E', i+'_043E',i+'_044E',
                    i+'_045E',i+'_046E',i+'_047E',i+'_048E']
        # The next line currently causes an error. "Passing list-likes to .loc or [] with any missing labels is no longer supported"
        # The error is caused by the first Glendale Union High request. Error may be caused by secondary school request.
        # Testing needed
        selectB23002 = pd.DataFrame(response_df.iloc[1][selectcolumns])
        select2B23002 = selectB23002.transpose()
    
        # add to districts_df18
        selectB23002_full.append(select2B23002.iloc[0])
        selectB23002_full_df = pd.DataFrame(selectB23002_full)
    districts_df18B23002 = districts_df18.merge(selectB23002_full_df, left_on = 'Full_Code', right_on = 'GEO_ID')
    districts_df18B23002

Trying New York City Department of Education with 20580 and 36
            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          2739         31417          2367          6639          1675

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1         28097          2369        391597          5251        312502  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US3620580          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US3620580       1010078          6453        470479          4296

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1         21930          1094          3911           799             0  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US3620580          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US3620580        946979         24694        451941         14335

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1         34849          2832          6877          1352            40  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US3620580        230694         12725        107820          8294

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          7548          1534          1689           817             0  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US3620580       2266177          3204       1096992          1724

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1         43053          1461          7156          1387            44  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying New York City Department of Education with 20580 and 36
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US3620580       1895223          2650        901130          1828

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1         63324          1827         12306          1525            40  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     36

                         319
0  school district (unified)
1                      20580

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17

            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          1837         14265          1935          4723          1350

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1          9918          2098        144265          4669        111817  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US1709930          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US1709930        159746          7680         73193          3985

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1          3653           860           833           404             0  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US1709930          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US1709930        194791         11538        100288          6338

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1          7160          1664          2180           783             0  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US1709930         54534          5802         24726          3349

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          1916           817           592           410             0  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US1709930        794996         12840        398419          7479

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1         12547          1636          3440          1082            12  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Chicago Public School District with 09930 and 17
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US1709930        583941          9268        299914          6361

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1         23138          2044          7155          1195             0  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     17

                         319
0  school district (unified)
1                      09930

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06

            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          1952          7996          1791          2089           908

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1          5404          1236         90521          4974         72364  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US0622710          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US0622710        481728         11450        221547          6528

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1          9861          1431          1948           567            36  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US0622710          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US0622710        830376         20914        426641         12440

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1         32997          2679          9737          1430             0  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US0622710        124252          6575         59051          4205

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          6183          1404          2150           731             0  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US0622710       1052528         11920        538048          6735

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1         17300          1782          4294           888             0  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Los Angeles Unified School District with 22710 and 06
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US0622710       1897867         18292        951189         11402

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1         78212          3191         22671          1989             0  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     06

                         319
0  school district (unified)
1                      22710

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48

            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          2195         10251          2031          1949          1277

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1          4394          1445         77448          5219         59380  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US4823640          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US4823640         79721          5771         36123          3007

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1          1329           583           223           185             0  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US4823640          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US4823640        144772         10286         76128          6291

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1          5874          1661          1892           993             0  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US4823640          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US4823640        305818          9835        154657          5793

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1          4531          1194          1119           529             0  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Houston Independent School District with 23640 and 48
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US4823640        488180         14856        250884          9835

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1         22122          2515          7220          1521             0  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     48

                         319
0  school district (unified)
1                      23640

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04

            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          None          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US0407750        153324          6605         74428          3679

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1          3975           882          1855           668             0  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Cave Creek Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04

            0             1             2             3             4    \
0  B23002B_013M  B23002B_014E  B23002B_014M  B23002B_015E  B23002B_015M
1          None          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002B_016E  B23002B_016M  B23002B_017E  B23002B_017M  B23002B_018E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002B_009EA  B23002B_010MA  B23002B_010EA  B23002B_011MA  B23002B_011EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002B_012MA  B23002B_012EA  B23002B_013EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002C_001E  B23002C_001M  B23002C_002E  B23002C_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002C_003E  B23002C_003M  B23002C_004E  B23002C_004M  B23002C_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002C_076MA  B23002C_076EA  B23002C_077MA  B23002C_077EA  B23002C_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002C_078MA  B23002C_079EA  B23002C_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002D_001E  B23002D_001M  B23002D_002E  B23002D_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002D_003E  B23002D_003M  B23002D_004E  B23002D_004M  B23002D_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002D_076EA  B23002D_076MA  B23002D_077EA  B23002D_077MA  B23002D_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002D_078MA  B23002D_079MA  B23002D_079EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002E_001E  B23002E_001M  B23002E_002E  B23002E_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002E_003E  B23002E_003M  B23002E_004E  B23002E_004M  B23002E_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002E_076EA  B23002E_076MA  B23002E_077MA  B23002E_077EA  B23002E_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002E_078MA  B23002E_079EA  B23002E_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002F_001E  B23002F_001M  B23002F_002E  B23002F_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002F_003E  B23002F_003M  B23002F_004E  B23002F_004M  B23002F_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002F_076EA  B23002F_076MA  B23002F_077EA  B23002F_077MA  B23002F_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002F_078EA  B23002F_079MA  B23002F_079EA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002G_001E  B23002G_001M  B23002G_002E  B23002G_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002G_003E  B23002G_003M  B23002G_004E  B23002G_004M  B23002G_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002G_076EA  B23002G_076MA  B23002G_077MA  B23002G_077EA  B23002G_078MA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002G_078EA  B23002G_079EA  B23002G_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002H_001E  B23002H_001M  B23002H_002E  B23002H_002M
1  9700000US0407750        153324          6605         74428          3679

            5             6             7             8             9    ...  \
0  B23002H_003E  B23002H_003M  B23002H_004E  B23002H_004M  B23002H_005E  ...
1          3975           882          1855           668             0  ...

             310            311            312            313            314  \
0  B23002H_076MA  B23002H_076EA  B23002H_077MA  B23002H_077EA  B23002H_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002H_078MA  B23002H_079EA  B23002H_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Deer Valley Unified District with 07750 and 04
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]
Trying Glendale Union High School District with 07750 and 04

 request failed with : https://api.census.gov/data/2018/acs/acs1?get=group(B23002B)&for=school%20district%20(secondary):07750&in=state:04&key=9c5aa4a34753830c81ff60db8991b08b03d03dd5
                0             1             2             3             4    \
0            GEO_ID  B23002I_001E  B23002I_001M  B23002I_002E  B23002I_002M
1  9700000US0407750          None          None          None          None

            5             6             7             8             9    ...  \
0  B23002I_003E  B23002I_003M  B23002I_004E  B23002I_004M  B23002I_005E  ...
1          None          None          None          None          None  ...

             310            311            312            313            314  \
0  B23002I_076MA  B23002I_076EA  B23002I_077EA  B23002I_077MA  B23002I_078EA
1           None           None           None           None           None

             315            316            317    318  \
0  B23002I_078MA  B23002I_079EA  B23002I_079MA  state
1           None           None           None     04

                         319
0  school district (unified)
1                      07750

[2 rows x 320 columns]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

### The cells below are only for testing and troubleshooting. Remember to remove before final version

In [2]:
# This cell is just test calls
# API call reference for ACS 2018 1yr: https://api.census.gov/data/2018/acs/acs1.html

#examples found here: https://api.census.gov/data/2018/acs/acs1/examples.html
#set base url for 2018
base_url = 'https://api.census.gov/data/2018/acs/acs1?'
# setup employment data for Chicago Public Schools

# variable groups found here: https://api.census.gov/data/2018/acs/acs1/groups.html 
group = 'B14005'

# school district code found on map available here: https://www2.census.gov/geo/maps/dc10map/sch_dist/st17_il/c17031_cook/
# this method requires personally reading pdf maps to find code. need to find a bettter way
school_district = '09930'

# state code found here: https://www.census.gov/library/reference/code-lists/ansi/ansi-codes-for-states.html
state ='17'

# request it
chicago_response = requests.get(f"{base_url}get=group({group})&for=school%20district%20(unified):{school_district}&in=state:{state}&key={census_key}").json()
print(json.dumps(chicago_response, indent=4, sort_keys=True))

[
    [
        "GEO_ID",
        "B14005_001E",
        "B14005_001M",
        "B14005_002E",
        "B14005_002M",
        "B14005_003E",
        "B14005_003M",
        "B14005_004E",
        "B14005_004M",
        "B14005_005E",
        "B14005_005M",
        "B14005_006E",
        "B14005_006M",
        "B14005_007E",
        "B14005_007M",
        "B14005_008E",
        "B14005_008M",
        "B14005_009E",
        "B14005_009M",
        "B14005_010E",
        "B14005_010M",
        "B14005_011E",
        "B14005_011M",
        "B14005_012E",
        "B14005_012M",
        "B14005_013E",
        "B14005_013M",
        "B14005_014E",
        "B14005_014M",
        "B14005_015E",
        "B14005_015M",
        "B14005_016E",
        "B14005_016M",
        "B14005_017E",
        "B14005_017M",
        "B14005_018E",
        "B14005_018M",
        "B14005_019E",
        "B14005_019M",
        "B14005_020E",
        "B14005_020M",
        "B14005_021E",
        "B14005_021M",
        "B14005_022E",
        "B14005_022M",
        "B14005_023E",
        "B14005_023M",
        "B14005_024E",
        "B14005_024M",
        "B14005_025E",
        "B14005_025M",
        "B14005_026E",
        "B14005_026M",
        "B14005_027E",
        "B14005_027M",
        "B14005_028E",
        "B14005_028M",
        "B14005_029E",
        "B14005_029M",
        "NAME",
        "B14005_001MA",
        "B14005_001EA",
        "B14005_002MA",
        "B14005_002EA",
        "B14005_003MA",
        "B14005_003EA",
        "B14005_004MA",
        "B14005_004EA",
        "B14005_005MA",
        "B14005_005EA",
        "B14005_006MA",
        "B14005_006EA",
        "B14005_007MA",
        "B14005_007EA",
        "B14005_008MA",
        "B14005_008EA",
        "B14005_009MA",
        "B14005_009EA",
        "B14005_010MA",
        "B14005_010EA",
        "B14005_011MA",
        "B14005_011EA",
        "B14005_012MA",
        "B14005_012EA",
        "B14005_013MA",
        "B14005_013EA",
        "B14005_014MA",
        "B14005_014EA",
        "B14005_015MA",
        "B14005_015EA",
        "B14005_016MA",
        "B14005_016EA",
        "B14005_017MA",
        "B14005_017EA",
        "B14005_018MA",
        "B14005_018EA",
        "B14005_019MA",
        "B14005_019EA",
        "B14005_020MA",
        "B14005_020EA",
        "B14005_021MA",
        "B14005_021EA",
        "B14005_022EA",
        "B14005_022MA",
        "B14005_023MA",
        "B14005_023EA",
        "B14005_024MA",
        "B14005_024EA",
        "B14005_025MA",
        "B14005_025EA",
        "B14005_026MA",
        "B14005_026EA",
        "B14005_027MA",
        "B14005_027EA",
        "B14005_028MA",
        "B14005_028EA",
        "B14005_029MA",
        "B14005_029EA",
        "state",
        "school district (unified)"
    ],
    [
        "9700000US1709930",
        "122213",
        "5273",
        "59551",
        "3711",
        "50420",
        "3438",
        "7315",
        "1420",
        "3673",
        "935",
        "39432",
        "2957",
        "9131",
        "1648",
        "5949",
        "1194",
        "2751",
        "818",
        "916",
        "457",
        "2282",
        "818",
        "3182",
        "1122",
        "729",
        "571",
        "682",
        "496",
        "1771",
        "840",
        "62662",
        "3207",
        "56451",
        "3491",
        "11212",
        "1833",
        "3021",
        "960",
        "42218",
        "3383",
        "6211",
        "1664",
        "5440",
        "1596",
        "2287",
        "1043",
        "1323",
        "957",
        "1830",
        "951",
        "771",
        "535",
        "424",
        "444",
        "162",
        "237",
        "185",
        "171",
        "Chicago Public School District 299, Illinois",
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        "17",
        "09930"
    ]
]

In [3]:
# another test cell
cps_df = pd.DataFrame(chicago_response)
cps_df.columns = cps_df.iloc[0]
cps_df

,GEO_ID,B14005_001E,B14005_001M,B14005_002E,B14005_002M,B14005_003E,B14005_003M,B14005_004E,B14005_004M,B14005_005E,...,B14005_026MA,B14005_026EA,B14005_027MA,B14005_027EA,B14005_028MA,B14005_028EA,B14005_029MA,B14005_029EA,state,school district (unified)
0,GEO_ID,B14005_001E,B14005_001M,B14005_002E,B14005_002M,B14005_003E,B14005_003M,B14005_004E,B14005_004M,B14005_005E,...,B14005_026MA,B14005_026EA,B14005_027MA,B14005_027EA,B14005_028MA,B14005_028EA,B14005_029MA,B14005_029EA,state,school district (unified)
1,9700000US1709930,122213,5273,59551,3711,50420,3438,7315,1420,3673,...,None,None,None,None,None,None,None,None,17,09930

In [7]:
# Cleans B14005. Generally, this table covers enrollment and employment in 16-19 y/o
cps_select = pd.DataFrame(cps_df.iloc[1][['GEO_ID','state','school district (unified)',
                    'B14005_001E','B14005_002E','B14005_003E','B14005_004E',
                     'B14005_005E','B14005_006E','B14005_016E','B14005_017E',
                    'B14005_018E','B14005_019E', 'B14005_020E']])
cps_select2 = cps_select.transpose()
cps_select2

,GEO_ID,state,school district (unified),B14005_001E,B14005_002E,B14005_003E,B14005_004E,B14005_005E,B14005_006E,B14005_016E,B14005_017E,B14005_018E,B14005_019E,B14005_020E
1,9700000US1709930,17,09930,122213,59551,50420,7315,3673,39432,62662,56451,11212,3021,42218

In [5]:
# Get B23002A-B23002I which give employment by age group for ethnic groups

#set base url for 2018
base_url = 'https://api.census.gov/data/2018/acs/acs1?'
# setup employment data for Chicago Public Schools

# variable groups found here: https://api.census.gov/data/2018/acs/acs1/groups.html 
group = 'B23002B'

# school district code found on map available here: https://www2.census.gov/geo/maps/dc10map/sch_dist/st17_il/c17031_cook/
# this method requires personally reading pdf maps to find code. need to find a bettter way
school_district = '09930'

# state code found here: https://www.census.gov/library/reference/code-lists/ansi/ansi-codes-for-states.html
state ='17'

# request it
chicago_response = requests.get(f"{base_url}get=group({group})&for=school%20district%20(unified):{school_district}&in=state:{state}&key={census_key}").json()

cps_df_B23002B = pd.DataFrame(chicago_response)
cps_df_B23002B.columns = cps_df_B23002B.iloc[0]
cps_df_B23002B

,B23002B_013M,B23002B_014E,B23002B_014M,B23002B_015E,B23002B_015M,B23002B_016E,B23002B_016M,B23002B_017E,B23002B_017M,B23002B_018E,...,B23002B_009EA,B23002B_010MA,B23002B_010EA,B23002B_011MA,B23002B_011EA,B23002B_012MA,B23002B_012EA,B23002B_013EA,state,school district (unified)
0,B23002B_013M,B23002B_014E,B23002B_014M,B23002B_015E,B23002B_015M,B23002B_016E,B23002B_016M,B23002B_017E,B23002B_017M,B23002B_018E,...,B23002B_009EA,B23002B_010MA,B23002B_010EA,B23002B_011MA,B23002B_011EA,B23002B_012MA,B23002B_012EA,B23002B_013EA,state,school district (unified)
1,1837,14265,1935,4723,1350,9918,2098,144265,4669,111817,...,None,None,None,None,None,None,None,None,17,09930

In [8]:
# Cleans B23002B. Generally, this table covers employment by age group for african americans
cps_select_B23002B = pd.DataFrame(cps_df_B23002B.iloc[1][['GEO_ID','state','school district (unified)',
                    'B23002B_003E','B23002B_004E','B23002B_003E','B23002B_004E',
                     'B23002B_005E','B23002B_006E','B23002B_007E','B23002B_008E',
                    'B23002B_009E','B23002B_042E', 'B23002B_043E','B23002B_044E',
                    'B23002B_045E','B23002B_046E','B23002B_047E','B23002B_048E']])
cps_select_B23002B2 = cps_select_B23002B.transpose()
cps_select_B23002B2

,GEO_ID,state,school district (unified),B23002B_003E,B23002B_004E,B23002B_003E,B23002B_004E,B23002B_005E,B23002B_006E,B23002B_007E,B23002B_008E,B23002B_009E,B23002B_042E,B23002B_043E,B23002B_044E,B23002B_045E,B23002B_046E,B23002B_047E,B23002B_048E
1,9700000US1709930,17,09930,19307,4187,19307,4187,0,4187,1863,2324,15120,20919,5069,0,5069,3095,1974,15850

In [13]:
# Get annotation json for B14005

columnsB14005_json = requests.get('https://api.census.gov/data/2018/acs/acs1/groups/B14005.json').json()

print(json.dumps(columnsB14005_json, indent = 4, sort_keys= True))

{
    "variables": {
        "B14005_001E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_001EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_001M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_001MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_002E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_002EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_002M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_002MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_003E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_003EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_003M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_003MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_004E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Enrolled in school!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_004EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Enrolled in school!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_004M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Enrolled in school!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_004MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_005E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Enrolled in school!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_005EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Enrolled in school!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_005M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_005MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_006E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Enrolled in school!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_006EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Enrolled in school!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_006M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_006MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_007E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_007EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_007M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_007MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_008E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_008EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_008M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_008MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_009E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_009EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_009M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_009MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_010E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_010EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_010M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_010MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_011E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_011EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_011M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_011MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_012E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_012EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_012M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_012MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_013E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_013EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_013M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_013MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_014E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_014EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_014M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_014MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_015E": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_015EA": {
            "group": "B14005",
            "label": "Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_015M": {
            "concept": "SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS",
            "group": "B14005",
            "label": "Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "int"
        },
        "B14005_015MA": {
            "group": "B14005",
            "label": "Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force",
            "limit": 0,
            "predicateOnly": true,
            "predicateType": "string"
        },
        "B14005_016E": {

In [14]:
#columnsB14005 = columnsB14005['variables']
colnameB14005 = columnsB14005_json['variables']
colnameB14005

{'B14005_008EA': {'label': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_008MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_009MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_009EA': {'label': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_006EA': {'label': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Not in labor force',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_006MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_007EA': {'label': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_007MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_004EA': {'label': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Employed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_004MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Employed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_003MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_005EA': {'label': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Unemployed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_005MA': {'label': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_002EA': {'label': 'Annotation of Estimate!!Total!!Male',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_001MA': {'label': 'Annotation of Margin of Error!!Total',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_003EA': {'label': 'Annotation of Estimate!!Total!!Male!!Enrolled in school',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_002MA': {'label': 'Annotation of Margin of Error!!Total!!Male',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_001EA': {'label': 'Annotation of Estimate!!Total',
  'predicateType': 'string',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_001E': {'label': 'Estimate!!Total',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_001M': {'label': 'Margin of Error!!Total',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_002E': {'label': 'Estimate!!Total!!Male',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_002M': {'label': 'Margin of Error!!Total!!Male',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_003E': {'label': 'Estimate!!Total!!Male!!Enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_003M': {'label': 'Margin of Error!!Total!!Male!!Enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_005E': {'label': 'Estimate!!Total!!Male!!Enrolled in school!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_004E': {'label': 'Estimate!!Total!!Male!!Enrolled in school!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_004M': {'label': 'Margin of Error!!Total!!Male!!Enrolled in school!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_006E': {'label': 'Estimate!!Total!!Male!!Enrolled in school!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_005M': {'label': 'Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_007E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_006M': {'label': 'Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_008E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_007M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_009E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_008M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_009M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_010E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_010M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_011E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_011M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_012E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_012M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_013E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_013M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_014E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_014M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_016E': {'label': 'Estimate!!Total!!Female',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_015E': {'label': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_015M': {'label': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_017E': {'label': 'Estimate!!Total!!Female!!Enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_016M': {'label': 'Margin of Error!!Total!!Female',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_018E': {'label': 'Estimate!!Total!!Female!!Enrolled in school!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_017M': {'label': 'Margin of Error!!Total!!Female!!Enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_019E': {'label': 'Estimate!!Total!!Female!!Enrolled in school!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_018M': {'label': 'Margin of Error!!Total!!Female!!Enrolled in school!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_019M': {'label': 'Margin of Error!!Total!!Female!!Enrolled in school!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_020E': {'label': 'Estimate!!Total!!Female!!Enrolled in school!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_020M': {'label': 'Margin of Error!!Total!!Female!!Enrolled in school!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_021E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_021M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_022E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_022M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_023E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_023M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_024E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_024M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_025E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_025M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_027E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Employed',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_026E': {'label': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},
 'B14005_026M': {'label': 'Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate',
  'concept': 'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'predicateType': 'int',
  'group': 'B14005',
  'limit': 0,
  'predicateOnly': True},

In [15]:
# Create dictionary to rename dataframe columns to something description

colname2B14005 = list(colnameB14005.keys())
colname2B14005
collabelB14005 = []

for i in colname2B14005:
    collabelB14005.append(colnameB14005[i]['label'])
    
collabelB14005
colrenameB14005 = {colname2B14005[i]:collabelB14005[i] for i in range(len(colname2B14005))}
colrenameB14005

{'B14005_008EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_008MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_009MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_009EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_006EA': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Not in labor force',
 'B14005_006MA': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force',
 'B14005_007EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school',
 'B14005_007MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school',
 'B14005_004EA': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Employed',
 'B14005_004MA': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Employed',
 'B14005_003MA': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school',
 'B14005_005EA': 'Annotation of Estimate!!Total!!Male!!Enrolled in school!!Unemployed',
 'B14005_005MA': 'Annotation of Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed',
 'B14005_002EA': 'Annotation of Estimate!!Total!!Male',
 'B14005_001MA': 'Annotation of Margin of Error!!Total',
 'B14005_003EA': 'Annotation of Estimate!!Total!!Male!!Enrolled in school',
 'B14005_002MA': 'Annotation of Margin of Error!!Total!!Male',
 'B14005_001EA': 'Annotation of Estimate!!Total',
 'B14005_001E': 'Estimate!!Total',
 'B14005_001M': 'Margin of Error!!Total',
 'B14005_002E': 'Estimate!!Total!!Male',
 'B14005_002M': 'Margin of Error!!Total!!Male',
 'B14005_003E': 'Estimate!!Total!!Male!!Enrolled in school',
 'B14005_003M': 'Margin of Error!!Total!!Male!!Enrolled in school',
 'B14005_005E': 'Estimate!!Total!!Male!!Enrolled in school!!Unemployed',
 'B14005_004E': 'Estimate!!Total!!Male!!Enrolled in school!!Employed',
 'B14005_004M': 'Margin of Error!!Total!!Male!!Enrolled in school!!Employed',
 'B14005_006E': 'Estimate!!Total!!Male!!Enrolled in school!!Not in labor force',
 'B14005_005M': 'Margin of Error!!Total!!Male!!Enrolled in school!!Unemployed',
 'B14005_007E': 'Estimate!!Total!!Male!!Not enrolled in school',
 'B14005_006M': 'Margin of Error!!Total!!Male!!Enrolled in school!!Not in labor force',
 'B14005_008E': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_007M': 'Margin of Error!!Total!!Male!!Not enrolled in school',
 'B14005_009E': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_008M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_009M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_010E': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_010M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_011E': 'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_011M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_012E': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate',
 'B14005_012M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate',
 'B14005_013E': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_013M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_014E': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_014M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_016E': 'Estimate!!Total!!Female',
 'B14005_015E': 'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_015M': 'Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_017E': 'Estimate!!Total!!Female!!Enrolled in school',
 'B14005_016M': 'Margin of Error!!Total!!Female',
 'B14005_018E': 'Estimate!!Total!!Female!!Enrolled in school!!Employed',
 'B14005_017M': 'Margin of Error!!Total!!Female!!Enrolled in school',
 'B14005_019E': 'Estimate!!Total!!Female!!Enrolled in school!!Unemployed',
 'B14005_018M': 'Margin of Error!!Total!!Female!!Enrolled in school!!Employed',
 'B14005_019M': 'Margin of Error!!Total!!Female!!Enrolled in school!!Unemployed',
 'B14005_020E': 'Estimate!!Total!!Female!!Enrolled in school!!Not in labor force',
 'B14005_020M': 'Margin of Error!!Total!!Female!!Enrolled in school!!Not in labor force',
 'B14005_021E': 'Estimate!!Total!!Female!!Not enrolled in school',
 'B14005_021M': 'Margin of Error!!Total!!Female!!Not enrolled in school',
 'B14005_022E': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_022M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_023E': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_023M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_024E': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_024M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_025E': 'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_025M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_027E': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_026E': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate',
 'B14005_026M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate',
 'B14005_028E': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_027M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_029E': 'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_028M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_029M': 'Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_028EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_028MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_029EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_029MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_026EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate',
 'B14005_025MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_027EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_027MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_026MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!Not high school graduate',
 'B14005_024EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_023MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_025EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_024MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_021EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school',
 'B14005_021MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school',
 'B14005_023EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Employed',
 'B14005_022EA': 'Annotation of Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_022MA': 'Annotation of Margin of Error!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)',
 'B14005_020EA': 'Annotation of Estimate!!Total!!Female!!Enrolled in school!!Not in labor force',
 'B14005_020MA': 'Annotation of Margin of Error!!Total!!Female!!Enrolled in school!!Not in labor force',
 'B14005_019EA': 'Annotation of Estimate!!Total!!Female!!Enrolled in school!!Unemployed',
 'B14005_019MA': 'Annotation of Margin of Error!!Total!!Female!!Enrolled in school!!Unemployed',
 'B14005_017EA': 'Annotation of Estimate!!Total!!Female!!Enrolled in school',
 'B14005_017MA': 'Annotation of Margin of Error!!Total!!Female!!Enrolled in school',
 'B14005_018EA': 'Annotation of Estimate!!Total!!Female!!Enrolled in school!!Employed',
 'B14005_018MA': 'Annotation of Margin of Error!!Total!!Female!!Enrolled in school!!Employed',
 'B14005_015EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_014MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_016EA': 'Annotation of Estimate!!Total!!Female',
 'B14005_016MA': 'Annotation of Margin of Error!!Total!!Female',
 'B14005_015MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Not in labor force',
 'B14005_013EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_012MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate',
 'B14005_014EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed',
 'B14005_013MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Employed',
 'B14005_010EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_010MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed',
 'B14005_012EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate',
 'B14005_011EA': 'Annotation of Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force',
 'B14005_011MA': 'Annotation of Margin of Error!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Not in labor force'}

In [20]:
# Renames columns to default census labels
cps_select2.rename(columns = colrenameB14005, inplace = True)
cps_select2

,GEO_ID,state,school district (unified),Estimate!!Total,Estimate!!Total!!Male,Estimate!!Total!!Male!!Enrolled in school,Estimate!!Total!!Male!!Enrolled in school!!Employed,Estimate!!Total!!Male!!Enrolled in school!!Unemployed,Estimate!!Total!!Male!!Enrolled in school!!Not in labor force,Estimate!!Total!!Female,Estimate!!Total!!Female!!Enrolled in school,Estimate!!Total!!Female!!Enrolled in school!!Employed,Estimate!!Total!!Female!!Enrolled in school!!Unemployed,Estimate!!Total!!Female!!Enrolled in school!!Not in labor force
1,9700000US1709930,17,09930,122213,59551,50420,7315,3673,39432,62662,56451,11212,3021,42218

In [65]:
# API fail on Cave Creek. 
# https://api.census.gov/data/2018/acs/acs1?get=group(B14005)&for=school%20district%20(unified):00001
# &in=state:04&key=9c5aa4a34753830c81ff60db8991b08b03d03dd5
# returns 204 error. 'No Content'
# confirmed district code
# It seems Cave Creek school district does not have a 1-year estimate only 5-year
# chicago_response = requests.get(f"https://api.census.gov/data/2018/acs/acs5?get=group(B14005)&for=school%20district%20(unified):00001&in=state:04&key=9c5aa4a34753830c81ff60db8991b08b03d03dd5").json()
# chicago_response

# Issue identified. Group notified. Resolution coming soon.

[['GEO_ID',
  'B14005_001E',
  'B14005_001M',
  'B14005_002E',
  'B14005_002M',
  'B14005_003E',
  'B14005_003M',
  'B14005_004E',
  'B14005_004M',
  'B14005_005E',
  'B14005_005M',
  'B14005_006E',
  'B14005_006M',
  'B14005_007E',
  'B14005_007M',
  'B14005_008E',
  'B14005_008M',
  'B14005_009E',
  'B14005_009M',
  'B14005_010E',
  'B14005_010M',
  'B14005_011E',
  'B14005_011M',
  'B14005_012E',
  'B14005_012M',
  'B14005_013E',
  'B14005_013M',
  'B14005_014E',
  'B14005_014M',
  'B14005_015E',
  'B14005_015M',
  'B14005_016E',
  'B14005_016M',
  'B14005_017E',
  'B14005_017M',
  'B14005_018E',
  'B14005_018M',
  'B14005_019E',
  'B14005_019M',
  'B14005_020E',
  'B14005_020M',
  'B14005_021E',
  'B14005_021M',
  'B14005_022E',
  'B14005_022M',
  'B14005_023E',
  'B14005_023M',
  'B14005_024E',
  'B14005_024M',
  'B14005_025E',
  'B14005_025M',
  'B14005_026E',
  'B14005_026M',
  'B14005_027E',
  'B14005_027M',
  'B14005_028E',
  'B14005_028M',
  'B14005_029E',
  'B14005_029M',
  'NAME',
  'B14005_001MA',
  'B14005_001EA',
  'B14005_002MA',
  'B14005_002EA',
  'B14005_003MA',
  'B14005_003EA',
  'B14005_004EA',
  'B14005_004MA',
  'B14005_005EA',
  'B14005_005MA',
  'B14005_006EA',
  'B14005_006MA',
  'B14005_007MA',
  'B14005_007EA',
  'B14005_008MA',
  'B14005_008EA',
  'B14005_009MA',
  'B14005_009EA',
  'B14005_010EA',
  'B14005_010MA',
  'B14005_011MA',
  'B14005_011EA',
  'B14005_012EA',
  'B14005_012MA',
  'B14005_013MA',
  'B14005_013EA',
  'B14005_014MA',
  'B14005_014EA',
  'B14005_015MA',
  'B14005_015EA',
  'B14005_016EA',
  'B14005_016MA',
  'B14005_017MA',
  'B14005_017EA',
  'B14005_018MA',
  'B14005_018EA',
  'B14005_019EA',
  'B14005_019MA',
  'B14005_020EA',
  'B14005_020MA',
  'B14005_021EA',
  'B14005_021MA',
  'B14005_022MA',
  'B14005_022EA',
  'B14005_023MA',
  'B14005_023EA',
  'B14005_024EA',
  'B14005_024MA',
  'B14005_025MA',
  'B14005_025EA',
  'B14005_026EA',
  'B14005_026MA',
  'B14005_027MA',
  'B14005_027EA',
  'B14005_028EA',
  'B14005_028MA',
  'B14005_029EA',
  'B14005_029MA',
  'state',
  'school district (unified)'],
 ['9700000US0400001',
  '1965',
  '287',
  '1005',
  '188',
  '958',
  '187',
  '198',
  '86',
  '25',
  '26',
  '735',
  '169',
  '47',
  '37',
  '35',
  '33',
  '17',
  '25',
  '18',
  '23',
  '0',
  '29',
  '12',
  '17',
  '0',
  '29',
  '0',
  '29',
  '12',
  '17',
  '960',
  '190',
  '934',
  '184',
  '230',
  '89',
  '54',
  '48',
  '650',
  '149',
  '26',
  '37',
  '6',
  '20',
  '5',
  '20',
  '0',
  '29',
  '1',
  '3',
  '20',
  '32',
  '0',
  '29',
  '20',
  '32',
  '0',
  '29',
  'Cave Creek Unified District, Arizona',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  '04',
  '00001']]

-- Notes from this test --
Good News:
    - The above call works
    - pd.DataFrame defaults to the desired row/column
To do:  
    - convert the existing labels (B14005_XXXX) into descriptive labels
    - find better way to get school district codes. There must be a better way than going through pdf maps
    - try Census wrapper library to see if it resolves district and state code issues
    - look into table S2301
    - figure out how we might use margin of error in analysis. If unneeded, maybe drop it
Big picture:
    - build loops to request all districts in each year
    - assemble district data into dataframe for each year
    
-- Notes on tables --
B23002A-B23002I give employment by age group for ethnic groups  
B14005 gives employment by enrollment for age groups